/* Main */
body {
	font-family: "Segoe UI";
}

table {
	width: 100%;
	margin: 0 auto 25px;
	border-collapse: collapse;
}

th {
	font-weight: normal;
}

td {
	width: inherit;
	height: 450px;
	border: 1px solid #eee;
}

.space {
	border-top: white;
	border-bottom: white;
}